{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
{% include "includes/alerts.html" %}
<div class="container">
	<div class="row">
	{% include 'includes/sidebar.html' %}
						
	<main class="col-md-9">
		
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Change your password</strong>
			
		</header>
		<div class="card-body">
       
			<div class="row"> 
		
		<div class="col-md-12">
			
			<form action="{% url 'change_password' %}" method="POST">
                {% csrf_token %}
                
                
                    <div class="form-group col-md-12">
                        <label>Current password</label>
                        <input type="password" placeholder="current password" name="current_password" class="form-control" required>
                    </div>
                  
                    <div class="form-group col-md-12">
                        <label>New password</label>
                        <input type="password" placeholder="new password" name="password_1" class="form-control" required>
                    </div>
            
                    <div class="form-group col-md-12">
                        <label>Confirm new password</label>
                        <input type="password" placeholder="confirm new password" name="password_2" class="form-control" required>
                    </div>
            
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
		</div>	
				
			</div> <!-- row.// -->
		</div>
		</article> 
		<!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

</body>
</html>
{% endblock %}