{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

<div class="container">
	<div class="row">
	<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item active" href="#"> My order history </a>
			<a class="list-group-item" href="#"> Transactions </a>
			<a class="list-group-item" href="#"> Return and refunds </a>
			<a class="list-group-item" href="#">Settings </a>
			<a class="list-group-item" href="#"> My Selling Items </a>
			<a class="list-group-item" href="#"> Received orders </a>
		</ul>
		<br>
		<a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
		<!--   SIDEBAR .//END   -->
	</aside>
	
			<secton  class='text-center'>
			<div class="container">
				{% if not orders %}
				<h3 class='text-center'>You have made no orders</h3>
				<div class='text-center'>
					<a href="{% url 'store' %}" class="btn btn-primary">Continue shopping</a>
				</div>
				</div>
			</section>		
			
					{% else %}
	<main class="col-md-9">
		{% for order in orders %}
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Order ID: {{order.order_number}}</strong>
			<span>Order Date: {{order.created_at}}</span>
		</header>
		<div class="card-body">
			<div class="row"> 
				<div class="col-md-8">
					<h6 class="text-muted">Delivery to</h6>
					<p>{{order.full_name}} <br>  
					Phone {{order.phone}} Email: {{order.email}} <br>
			    	Location: {{order.address}} <br> 

			 		</p>
				</div>
				<div class="col-md-4">
					<h6 class="text-muted">Payment</h6>
					<span class="text-success">
						<i class="fab fa-lg fa-cc-visa"></i>
					    Visa  **** 4216  
					</span>
					
					 <span class="b">Amount paid:  ${{total}} </span>
					</p>
				</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		<div class="table-responsive">
		<table class="table table-hover">
		<tr><td width="65"></td>
			<td>Product</td>
			<td>Quantity</td>
			<td>Sub total</td>
			<td width="250"> <a href="#" class="btn btn-outline-primary">Track order</a> <a href="{% url 'cart' %}" class="btn btn-light"> Details </a> </td
			</tr>
			{% for cart_item in cart_items %}
			<tr>
			
				<td width="65">
					<img src="{{cart_item.product.images.url}}" class="img-xs border">
				</td>
				<td> 
					<p class="title mb-0">{{cart_item.product.product_name}} </p>
					<var class="price text-muted">${{cart_item.product.price}} each</var>
				</td>

				<td>   {{cart_item.quantity}} </td>
				<td>  {{cart_item.sub_total}} </td>
				
			
			</tr>
			{% endfor %}
		</table>
		</div> <!-- table-responsive .end// -->
		</article> 
		{% endfor %}<!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>

{% endif %}
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

</body>
</html>
{% endblock %}