{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

<div class="container">
	<div class="row">
	{% include 'includes/sidebar.html' %}
						
	<main class="col-md-9">
		
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Edit profile</strong>
			
		</header>
		<div class="card-body">
        {% if userprofile.profile_pics %}
        <div class="text-right">
            <img src="{{userprofile.profile_pics.url}}" alt="Profile pics" width="100" style="border-radius:50px;" >
        </div>
        {% else %}
        <div class="text-right">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Profile pics" width="100" style="border-radius:50px;" >
        </div>
        {% endif %}
			<div class="row"> 
		
		<div class="col-md-12">
			
			<form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>First Name</label>
                        {{user_form.first_name}}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Last Name</label>
                        {{user_form.last_name}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Phone Number</label>
                        {{user_form.phone_number}}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Profile picture</label>
                        {{userprofile_form.profile_pics}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Address</label>
                        {{userprofile_form.address}}
                    </div>
                   
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>City</label>
                        {{userprofile_form.city}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>State</label>
                        {{userprofile_form.state}}
                    </div>
                     <div class="form-group col-md-4">
                        <label>Country</label>
                        {{userprofile_form.country}}
                    </div>
                    
                </div>
                <input type="submit" value="Save" class="btn btn-primary">
            </form>
		</div>	
				
			</div> <!-- row.// -->
		</div>
		</article> 
		<!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

</body>
</html>
{% endblock %}